@import './pages/_register.scss';
@import './pages/chat';
@import './cmps/set-avatar';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    max-width: 100vw;
}