@import './pages/_register.scss';
@import './pages/chat';

@import './cmps/set-avatar';
@import './cmps/contacts';
@import './cmps/welcome';
@import './cmps/chat-container';
@import './cmps/logout';
@import './cmps/chat-input';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    max-width: 100vw;
}

